* {
  font-family: Open Sans, sans-serif;
  margin: 0px;
  padding: 0px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #c2b2b4;
}

.button-corral,
header {
  background-color: #3e2a35;
  display: flex;
  justify-content: space-between;
}

.page-title {
  color: white;
  font-weight: 800;
  height: 1em;
  padding-left: 25px;
}

header img {
  height: 1em;
  margin: auto 5px;
}

.search-form {
  display: flex;
  padding: 25px;
}

#search-input {
  border: none;
  color: #8A8494;
  width: 100%;
}

.search-button {
  background-color: #C2C1C0;
  border: none;
}

main {
  background-color: #3e2a35;
  display: grid;
  grid-template-columns: .75fr 3fr .75fr;
  padding: 0px 45px;
}

label {
  color: #C1B2B4;
  font-weight: 600;
  margin-bottom: 5px;
}

.photo-form {
  grid-column: 2/3;
  padding-top: 20px;
}

#search-input ,
#caption-input,
#title-input {
  height: 2em;
}

.over {
  color: red;
}

.inputs {
  margin-bottom: 18px;
  margin-top: 5px;
  outline-color: #afa5cd;
  width: 100%;
}

.buttons{
  background-color: #5b4447;
  border-style: solid;
  color: #FFFFFF;
  font-size: .75em;
  font-weight: 700;
  height: 2.5em;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding: 0px 5px;
  width: 33%;
}

.file-input {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

.choose-file {
  width: 100%;
}

.file-label {
  align-items: center;
  background-color: #5b4447;
  border: 1px solid white;
  color: #FFFFFF;
  display: flex;
  font-size: .75em;
  height: 2.5em;
  justify-content: space-around;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.buttons:hover,
.file-label:hover {
  background-color: #938284;
  cursor: pointer;
}

.show:disabled,
.create-new:disabled {
  background-color: #808080;
}

.card-section h2 {
  text-align: center;
}

.card-section {
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: repeat(auto-fit, 230px);
  grid-template-rows: auto;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  padding: 0px 45px;
}

.card {
  background-color: #FFFFFF;
  border: solid 2px #d4d2d8; 
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  width: 230px;
}

.card-section section {
  padding: 5px;
}

.card h3 {
  font-size: 1.25em;
  height: 30px;
}

section .photo {
  margin: -5px;
}

.photo img {
  height: 240px;
  object-fit: contain;
  width: 100%;
}

.caption {
  height: 50px;
}

.two-buttons {
  background-color: #5b4447;
  display: flex;
  height: 50px;
}

.two-buttons button {
  border: none;
  width: 50%;
}

.trash {
  background: url(assests/delete.svg) left center no-repeat;
}

.trash:hover {
  background: url(assests/delete-active.svg) left center no-repeat;
}

.heart-false {
  background: url(assests/favorite.svg) right center no-repeat;
}

.heart-true {
  background: url(assests/favorite-active.svg) right center no-repeat;
}

@media screen and (max-width: 665px) {
  main {
    grid-template-columns: 0fr 3fr 0fr;
  }
  .button-corral {
    flex-direction: column;    
  }
  .buttons {
    width: 100%;
  }
  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0px 45px;
  }
  .page-title {
    font-size: 1.58em;
    margin: 20px 0px 0px 0px;
    padding: 0px;
  }
  .search-form {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    width: 230px;
  }
  .card-section h2 {
    font-size: 1.35em;
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: 1.5fr 3fr 1.5fr;
  }
  header {
    padding: 0px 100px;
  }
}
