* {
  font-family: Open Sans, sans-serif;
  margin: 0px;
  padding: 0px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #c2b2b4;
}

header {
  background-color: #3e2a35;
  display: flex;
  justify-content: space-between;
}

.page-title {
  color: white;
  font-weight: 800;
  padding-left: 25px;
  height: 1em;
}

header img {
  height: 1em;
  margin: auto 5px;
}

.search-form {
  display: flex;
  padding: 25px;
}

#search-input {
  border-radius: 5px 0px 0px 5px;
  border: none;
  color: #8A8494;
  outline-color: #afa5cd;
  width: 100%;
  height: 4vh;
}

.search-button {
  background-color: #C2C1C0;
  border-radius: 0px 5px 5px 0px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.fa-search {
  color: #FFFFFF;
  padding: 6px;
}

main {
  background-color: #3e2a35;
  display: grid;
  grid-template-columns: .75fr 3fr .75fr;
  padding: 0px 45px;
}

label {
  color: #C1B2B4;
  font-weight: 600;
  margin-bottom: 5px;
}

.photo-form {
  grid-column: 2/3;
  padding-top: 20px;
}

#title-input {
  height: 4vh;
  border-width: 1px; 
}

#caption-input {
  height: 6vh;
}

.over {
  color: red;
}

.inputs {
  border: solid 1px #d4d2d8;
  border-radius: 5px;
  margin-bottom: 18px;
  margin-top: 5px;
  outline-color: #afa5cd;
  width: 100%;
}

.buttons{
  background-color: #5b4447;
  border-radius: 5px;
  border-style: solid;
  color: #FFFFFF;
  font-weight: 700;
  height: 5vh;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding: 0px 5px;
  font-size: .75em;
  width: 33%;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.choose-file {
  width: 100%;
}

.file-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5b4447;
  border-radius: 5px;
  border: 1px solid white;
  color: #FFFFFF;
  height: 5vh;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size: .75em;
}

.file-label:hover {
  background-color: #938284;
}

.buttons:hover {
  background-color: #938284;
}

.create-new:disabled {
  background-color: #808080;
}

.show:disabled {
  background-color: #808080;
}

.button-corral {
  display: flex;
  justify-content: space-between;
}

.card-section h2 {
  margin: auto;
  width: 400px;
  margin-left: -10px;
}

.card-section {
  display: grid;
  justify-content: center;
  grid-gap: 20px 20px;
  grid-template-columns: repeat(auto-fit, 230px);
  grid-template-rows: auto;
  padding: 0px 45px;
  margin: 20px 0px 20px 0px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: solid 2px #d4d2d8; 
  height: 400px;
  min-width: 230px;
}

.card-section section {
  padding: 5px;
}

.card h3 {
  height: 30px;
  font-size: 1.25em;
}

section .photo {
  margin: -5px;
}

.photo img {
  width: 100%;
  height: 240px;
  object-fit: contain;
}

.caption {
  height: 50px;
}

.two-buttons {
  display: flex;
  height: 50px;
  background-color: #5b4447;
}

.two-buttons button {
  width: 50%;
  border: none;
}

.trash {
  background: url(assests/delete.svg) left center no-repeat;
}

.trash:hover {
  background: url(assests/delete-active.svg) left center no-repeat;
}

.heart-false {
  background: url(assests/favorite.svg) right center no-repeat;
}

.heart-true {
  background: url(assests/favorite-active.svg) right center no-repeat;
}

@media screen and (max-width: 665px) {
  main {
    grid-template-columns: 0fr 3fr 0fr;
  }
  .button-corral {
    flex-direction: column;    
  }
  .buttons {
    width: 100%;
  }
  header {
    padding: 0px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-title {
    font-size: 1.58em;
    padding: 0px;
    margin: 20px 0px 0px 0px;
  }
  .search-form {
    width: 230px;
    padding: 0px;
    margin: 20px 0px 0px 0px;
  }
  .card-section h2 {
    margin-left: 0px;
    font-size: 1.35em;
  }
}

@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: 1.5fr 3fr 1.5fr;
  }
  header {
    padding: 0px 100px;
  }
}
